.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

mat-grid-tile {
    background-color: #80d6ff;
    border: 12px solid #fff;
    color: #000;
    text-align: center;
}

span {
    padding: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

h1 {
    text-align: center;
}